.edit-service-account {
    color: $grey;
    
    .step {
        display: flex;
        flex-direction: column;
        margin: 40px 0;
        padding: 0px 40px;
    }

    label {
        margin-top: 10px;
        .label-detail {
            color: rgb(116, 116, 116);
            font-size: 12px;
        }
    }

    input {
        border: 1px solid $blue-grey;
        border-radius: 5px;
        padding: 10px;
        min-width: 40vw;
        font-size: 15px;
    }

    input:focus-visible {
        border: 1px solid $light-green;
        outline: none;
    }

    small {
        font-size: 10px;
        margin-bottom: 5px;
        color: $light-green;
    }

    button {
        display: flex;
        margin-left: auto;
    }

    img.done {
        max-width: 50px;
        width: 100%;
        filter: invert(70%) sepia(99%) saturate(300%) hue-rotate(73deg) brightness(88%) contrast(89%);
    }
}

