.header {
    display: flex;
    background-color: white;
    position: absolute;
    justify-content: flex-end;
    top: 0;
    height: 50px;
    width: 100%;
}

.logout-image {
    margin-top: 5px;
    margin-right: 5px;
    z-index: 1;
    display: flex;
    position: absolute;    

}
